<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Untitled Document</title>
<link rel="stylesheet" href="css/master.css" type="text/css" media="all" />
</head>

<body>
	<div class="main-container">
    	<div class="action-box">
        	<h4>SELECT ONE OF THE THREE ACTIONS</h4>
        	<a href="#" class="action-1"></a>
            <a href="#" class="action-2"></a>
            <a href="#" class="action-3"></a>
            <p>AND</p>
            <a href="#" class="log-out"></a>
        </div>
    	<div class="img-left"><img src="images/left-img.png" ></div>
        <div class="img-right"><img src="images/right-img.png" ></div>
        <div class="text-footer">
        	<strong>discalimer: </strong>
			<p>your facebook id and information contained in it will only be used for the mountain dew bang bang
            promotion only. no criticle data will be saved and other legal blah blah blah</p>
        </div>
    </div>
</body>
</html>
