@charset "utf-8";
/* CSS Document */
html, body{min-height:100%; height:100%}
body{padding:0; margin:0; color:#FFF; font-family:helvetica}

.main-container{background:url(../../../images/kiosk/ash/site-bg.jpg) 0 0 no-repeat; background-size:cover; height:100%; width:100%; min-height:600px; overflow:hidden}
.img-left{ position:absolute; left:0; top:0; height:100%; line-height:600px}
.img-left img{width:auto; height:auto; vertical-align:middle; margin-left:40px}
.img-right{ position:absolute; right:0; top:0; height:100%; line-height:600px}
.img-right img{width:auto; height:auto; margin-right:20px; vertical-align:bottom}
.text-footer{width:60%; color:#fff; position:absolute; bottom:30px; left:0; right:0; margin:auto}
.text-header{width:60%; color:#fff; position:absolute; top:30px; left:0; right:0;margin:auto }
.tos{position:absolute; display:block; text-align:center ; left:0; right:0; margin:auto; color:white; font-size:small;}
.login-box{ position:absolute; left:0; right:0; top:200px; margin:auto; width:420px; height:90px; z-index:100}
#tnc{ position:absolute; left:0; right:0; top:100px; margin:auto; width:420px;height:500px; overflow: scroll;}
.form-input{-webkit-box-shadow:inset 4px 4px 6px 0 #000000; box-shadow:inset 4px 4px 6px 0 #000000; background:#04880c; display:block; float:left; width:200px; height:40px; border:none; margin-right:15px; text-align:center; color:#fff; font-size:24px}
.fb-btn{background:#008aff; display:block; float:left; width:200px; height:42px; -webkit-box-shadow:inset 4px 4px 6px 0 #000000; box-shadow:inset 4px 4px 6px 0 #000000; text-align:center; color:#fff; font-size:18px; text-decoration:none; line-height:40px}

.fb-like-box{ position:absolute; left:0; right:0; top:200px; margin:auto; width:260px; height:90px; z-index:100; text-align:center}
.fb-btn{display:inline-block; float:none}

.logout{background:#008aff; display:inline-block; width:200px; height:42px; -webkit-box-shadow:inset 4px 4px 6px 0 #000000; box-shadow:inset 4px 4px 6px 0 #000000; text-align:center; color:#fff; font-size:22px; text-decoration:none; line-height:40px}